.wrapper
{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.wrapper button
{
    margin-bottom: 1.5rem;
}

.accordian
{
    width: 500px;
}

.item
{
    background-color: aquamarine;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.title
{
    display: flex;
    justify-content: space-between;
}